h1 {
    color : #0118d8;
}
h2 {
    color : #1B56FD
}

h3 , div{
    background-color: #f8f1f1;
    width: 65%;
    padding : 2px;
    border-radius:1% ;
    border: 1px solid #ece4e4;
}
img {
    border: 3px solid #ece4e4;
}

footer {
    color : grey;
    font-size: 10px;
}

.special-gothic-expanded-one-regular {
    font-family: "Special Gothic Expanded One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }